<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HRMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/Profil/<%= currentUser._id %> '>Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Employee">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Department">Departments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Leave">Leaves</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Task">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Project">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>