<%- include('../partials/header') %>
    <br>
    <div class="container">
        <%- include('../partials/messages') %>
            <h3 class="text-center">Edit a Leave</h3>
            <form action="/Leave/<%= Leave._id %>?_method=PUT" method="post" style="max-width: 75%;margin:0 auto">
                <div class="row">
                    <div class="col">
                        <div class="row mb-3">
                            <label for="employeeId" class="col-sm-2 col-form-label">Id:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="employeeId" placeholder="Enter Your ID..."
                                    required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="StartDate" class="col-sm-2 col-form-label">Start Date:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="date" name="startDate" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="DueDate" class="col-sm-2 col-form-label">Due Date:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="date" name="dueDate" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="leaveStatus" class="col-sm-2 col-form-label">Status:</label>
                            <div class="col-sm-10">
                                <select name="leaveStatus" class="form-select" id="">
                                    <option value="" selected disabled></option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="attachment" class="col-sm-2 col-form-label">Proof :</label>
                            <div class="col-sm-10">
                                <input class="form-control" placeholder="" type="file" name="attachment">
                            </div>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary" style="width: 100%;">Add</button>
            </form>
    </div>